* {
  cursor: url('cursor_outline_yellow.png'), auto;
}
body {
  font-family: "Jacquard 12", system-ui;
  font-weight: 500;
  font-style: normal;
}

button{
  font-family: "Jacquard 12", system-ui;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  padding: 10px 20px; /* Add padding for better button appearance */
  border: none; /* Remove default border */
  border-radius: 5px; /* Round the corners of buttons */
  cursor: pointer; /* Change cursor on hover */
  background-color:#b8860b ; /* Change button color */
  color: white; /* Button text color */
  cursor: url('cursor_outline_yellow.png'), auto;
}
.App {
  text-align: center;
  background-image: url("pixelated_table-transformed.jpeg");
  background-size: contain;
  background-position: center;

}
.modalButton{
  margin:2rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; 

  z-index: 1000; /* Adjust z-index as needed */
}
.modal-content {
  background-color: white;
  width: 40vw;
  max-height: 60vh; /* Ensures modal doesn't exceed this height */
  color: black;
  padding-top: 11rem;
  padding-bottom: 11rem;
  padding-right:5rem;
  padding-left:5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  text-align: center; /* Center text within the modal */
  
}
.buttons{
  display: flex;
  cursor: url('cursor_outline_yellow.png'), auto;
  justify-content: space-around;
}
.attackButton{
  position: absolute;
  left: 20%;
  top:12%;
  transform: translate(-50%, -50%);
  z-index: 800;
  cursor: url('cursor_outline_yellow.png'), auto;
}
.jumpButton{
  position: absolute;
  left: 20%;
  top:25%;
  transform: translate(-50%, -50%);
  z-index: 800;
  cursor: url('cursor_outline_yellow.png'), auto;
}
.modal-content button {

}
.playerBeast{
  height:80px;
  margin:2rem;
}
.playerBeasts{
  display: flex;
}
.selectedStarterBeast{
  border: 5px solid red; /* Adjust thickness and color here */
  border-radius: 5px; /* Optional: if you want rounded corners */
}
button:hover {
  background-color: #bf9734 /* Darken button on hover */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.overlay-container {
  position: relative;
  top:-2%;
}
.ribbon {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5rem;
}
.titleContainer{
  text-align: center;
}
.title {
  position: absolute;
  bottom: 7%;
  font-size: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Assuming the ribbon is a dark color */
}
.playerArea{
  margin-top:-3rem;
}
.player-title-left{
  margin-top: 1rem;
  justify-content: flex-start;
  color: black;
}
.player-title-right{
  margin-top: 1rem;
  justify-content: flex-end;
  color: black;
}
.player-health-bar-left {
  display: flex;
  position: absolute;
  bottom: 20%;
  left: 20%; 
  width: 300px;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
}
.player-health-bar-right {
  display: flex;
  position: absolute;
  bottom: 20%;
  right: 20%; 
  width: 300px;
  height: 10px;
  background-color: #ccc;
  border-radius: 5px;
}

.health-bar-fill {
  height: 100%;
  background-color: red;
  position: absolute;
  left: 0;
  top: 0;
}
.book{
  height: 90vh;
  width: 90vw;

 
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 90vh;
  width: 90vw;
}
.books{
  position: relative;
}
.player1 {
  height:50vh;
  position: absolute;
  top: 40%;
  left: 23%;
  transform: translate(-50%, -50%);
}
.player2 {
  height:70vh;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.gameContainer{
  position:absolute;
  top:13%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.nameLink {
  color: white;
}
.nameLink:hover{
  text-decoration: underline;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Styles for screens smaller than 768px */
@media (max-width: 768px) {
  .player-health-bar-right{
    width: 80px;
  }
  .player-health-bar-left{
    width: 80px;
  }
  .player1 {
    height: 25vh;
    top: 50%;
    left: 30%;
  }
  .player2 {
    height:35vh;
    top:55%;
    left: 70%
    
  }
  .book{
    height: 50vh;
  }
  .overlay{
    height:50vh;
  }
  .jumpButton{
    top:35%;
    left: 70%;
  }
  .attackButton{
    top:35%;
    left: 30%;
  }
  .ribbon {
    top: 85%;
  }
  .title{
    text-wrap:nowrap;
    bottom: 10%;
  }
  .playerBeast{
    height: 8vh;
  }
}